name: sonar

on:
  workflow_call:
    secrets:
      SONAR_TOKEN:
        required: true
    inputs:
      branch:
        required: false
        type: string
        default: master

jobs:
  sonar:
    if: |
      (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
      (github.event_name == 'pull_request' && (github.base_ref == 'master' || github.base_ref == 'rc'))


    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Install SonarScanner
        run: dotnet tool install --global dotnet-sonarscanner --version 11.*

      - name: Sonar Begin
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin \
            /k:"asienicki_PESEL" \
            /o:"asienicki" \
            /d:sonar.login="${SONAR_TOKEN}" \
            /d:sonar.cs.opencover.reportsPaths="coverage/**/coverage.opencover.xml" \
            /d:sonar.exclusions="**/bin/**,**/obj/**"

      - name: Build (Sonar)
        run: dotnet build PESEL.sln

      - name: Sonar End
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet sonarscanner end
