name: SonarCloud analysis

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  Analysis:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Install SonarScanner for .NET
      run: dotnet tool install --global dotnet-sonarscanner
        
    - name: Sonar Begin
      run: |
        dotnet sonarscanner begin \
          /k:"asienicki_PESEL" \
          /o:"asienicki" \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.cs.opencover.reportsPaths="coverage/coverage.opencover.xml" \
          /d:sonar.exclusions="**/bin/**,**/obj/**" \
          /d:sonar.test.inclusions="**/*Tests.cs"

    - name: Test with coverage
      run: |
        dotnet test PESEL.sln \
          /p:CollectCoverage=true \
          /p:CoverletOutput=$(pwd)/coverage/coverage.opencover.xml \
          /p:CoverletOutputFormat=opencover

    - name: Debug coverage files
      run: |
        echo "== coverage directory =="
        ls -R coverage || true

    - name: Sonar End
      run: |
        dotnet sonarscanner end \
          /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
